# vim ft:conf
[client]
# (time formatted almost ISO8601, there is no day number in client)
prompt='\Y-\o-??T\R:\m (\v)\_\u@\h:\p/\d\n>\_'
#pager=less -FXRS
#pager  vim -c 'set buftype=nofile nomod nowrap nolist nonumber ft=sql syntax=sql' -;
pager='less --raw-control-chars --quit-if-one-screen --ignore-case --status-column --no-init'
# auto completion:
auto-rehash
show-warnings


